
* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}
/* INIZIO SEZIONE HEADER */
header {

    background-color: rgb(104, 225, 255);

    background-image: url(./assets/img/jumbo.png);

    background-size: cover;

    min-height: 600px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: space-around;

    flex-direction: column;

}

.container {

    background-color: #255EE9;

    min-height: 40px;

    min-width: 60%;

    margin-top: 5px; 

    color: white;

    padding: 7px;

    display: flex;

    justify-content: space-between;

    align-self: center;

    


}

.logo-container {

    background-image: url(./assets/img/logo.svg);

    background-size: contain;

    background-repeat: no-repeat;

    width: 20%;

    height: 40px;

}

.login-container {

    text-align: right;

    color: black;

    width: 20%;

}

.span-accedi {

    background-color: white;

    border-radius: 30px;

    padding: 8px;

}

div span a {

    color: black;

    text-decoration: none;

}


ul > li {

    display: inline;

    list-style: none;

}

li a {

    text-decoration: none;

    color: white;

    margin-right: 30px;

}


.div-testo-header {

    text-align: center;

    color: white;

}


h1 {

    font-size: 3em;

}


div > h4 {

    font-size: large;

}

.container-download {

    display: flex;

    align-items: center;

}

.span-mac {


    padding: 20px;

    color: black;

    background-color: white;

    border-radius: 30px;

    text-decoration: none;

    margin-bottom: 150px;

    margin-right: 20px;

}


.span-apri {

    padding: 20px;

    background-color: black;

    border-radius: 30px;

    text-decoration: none;
    
    margin-bottom: 150px;
}


.span-apri a {

    color: white;

}

/* FINE SEZIONE HEADER */
/* INIZIO SECTION */
/* SEZIONE BIANCOROSA */
.section-biancorosa {

    background-color: white;

    min-height: 600px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

}

.div-celeste {

    background-image: url(./assets/img/item1.svg);

    background-repeat: no-repeat;

    min-width: 700px;

    min-height: 500px;

    margin-right: 100px;

}

.div-rosa {

    width: 300px;

    min-height: 300px;

    font-size: 25px;

}
/* SEZIONE GRIGIO */

.section-grigio {

    background-color: rgba(238, 238, 238, 0.459);

    min-height: 600px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

}

.div-verde {

    width: 300px;

    margin-right: 100px;

    margin-bottom: 100px;

    font-size: 25px;

}

.div-azzurro {

    background-image: url(./assets/img/item2.svg);

    background-repeat: no-repeat;

    min-width: 700px;

    min-height: 500px;

}
/* SECTION BIANCOROSA RIPETUTA */

.section-biancorosa-ripetuta {

    background-color: white;

    min-height: 600px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

}

.div-celeste-ripetuto {

    background-image: url(./assets/img/item3.svg);

    background-repeat: no-repeat;

    min-width: 700px;

    min-height: 500px;

    margin-right: 100px;

}

.div-rosa-ripetuto {

    width: 300px;

    min-height: 300px;

    font-size: 25px;

}


/* SEZIONE MEGA */

.section-mega {

    background-color: rgba(238, 238, 238, 0.459);

    min-height: 1000px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

}

.mega-giallo {

    background-image: url(./assets/img/item4-big.svg);

    background-size: cover;

    background-repeat: no-repeat;

    min-width: 1500px;

    min-height: 900px;

}

.div-mega-giallo h2 {

    text-align: center;

    font-size: 50px;

    margin-top: 100px;

}

.div-mega-giallo p {

    text-align: center;

    font-size: 20px;

}

.div-sotto-mega-giallo h2 {

    background-image: url(./assets/img/stars.svg);

    background-size: cover;

    background-repeat: no-repeat;

    font-size: 40px;

    margin-bottom: 50px;

}

.div-sotto-mega-giallo {

    display: flex;

    flex-direction: column;

}

.div-sotto-mega-giallo span {

    display: flex;

    justify-content: center;

    align-self: center;

    background-color: #6f71ffa2;

    padding: 10px;

    border-radius: 30px;

    margin-bottom: 70px;

    width: 170px;

}

.div-sotto-mega-giallo span a {

    color: white;

    font-size: 20px;

}


/* FINE SECTION */
/* INIZIO FOOTER */

.primo-footer-container {

    background-color: rgba(0, 0, 0, 0.815);

    min-width: 700px;

    min-height: 500px;

    display: flex;

    align-items: center;

    justify-content: center;

}

.div-grande-rosso {

    min-width: 250px;

    min-height: 550px;

}

.h2-footer {

    color: #A1A2FC;

    font-size: 30px;

}

.span-footer, .span-footer-italiano {

    color: white;

    padding: 10px;

}

i {

margin-right: 10px;

}

span img {

    width: 20px;

}

.div-piccolo {

    display: flex;

    min-width: 200px;

    min-height: 550px;

}

ul.ul-footer {

    display: flex;

    flex-direction: column;

}

.li-footer {

    color: #A1A2FC;

    margin-top: 10px;

}


.secondo-footer-container {

    background-color: rgba(0, 0, 0, 0.815);

    min-width: 700px;

    min-height: 150px;

    display: flex;

    align-items: center;

    justify-content: center;

}

.div-finale {



    min-width: 1100px;

    min-height: 80px;

    display: flex;

    align-items: center;

    justify-content: space-between;


}

.div-sotto-div-finale {

    background-image: url(./assets/img/logo.svg);

    background-size: contain;

    background-repeat: no-repeat;

    width: 20%;

    min-height: 40px;

    padding: 10px;

    margin-bottom: 50px;

}


.div-sotto-div-bottone {

    background-color: #A1A2FC;

    text-align: center;

    padding: 10px;

    border-radius: 40px;

    width: 100px;

    margin-bottom: 50px;

}

div.div-sotto-div-bottone a {

    color: white;

}




/* FINE FOOTER */



